@model IEnumerable<DotNetCoreDbSample.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                
              
            </tr>
        }
    </tbody>
</table>